<div class="wrapper">
  <p-toolbar>
    <div class="p-toolbar-group-left" style="flex: 1 1 auto">
      <button pButton class="p-button-primary mr-2"><i class="pi pi-bars"></i></button>
      Springboot | Angular | PrimeNG | TailwindCSS
    </div>
    <div class="p-toolbar-group-right" style="flex: 0 0 auto">
      <p-toggleButton
        [(ngModel)]="lightTheme"
        [onIcon]="'pi pi-sun'"
        [offIcon]="'pi pi-moon'"
        [onLabel]="'Light'"
        [offLabel]="'Dark'"
        class="ml-auto"
        (onChange)="adjustTheme($event)"></p-toggleButton>
    </div>
  </p-toolbar>
  <main>
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Springboot</p-tab>
        <p-tab value="1">Angular</p-tab>
        <p-tab value="2">PrimeNG</p-tab>
        <p-tab value="3">TailwindCSS</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p class="m-0">
            <a class="hover:underline" href="https://docs.spring.io/spring-boot/index.html">Spring Boot 3.4.0</a>
          </p>
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">Bean Definition Names</p-tab>
              <p-tab value="1">Configuration Properties</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                @for ( beanDefinitionName of beanDefinitionNames ; track beanDefinitionName) {
                  <div>{{ beanDefinitionName }}</div>
                }
              </p-tabpanel>
              <p-tabpanel value="1">
                @for (configurationProperty of configurationProperties; track configurationProperty) {
                  <div>{{ configurationProperty }}</div>
                }
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p class="m-0">
            <a class="hover:underline" href="https://v18.angular.dev/">Angular 18</a>
          </p>
        </p-tabpanel>
        <p-tabpanel value="2">
          <p class="m-0">
            <a class="hover:underline" href="https://v18.primeng.org/">PrimeNG 18</a>
          </p>
        </p-tabpanel>
        <p-tabpanel value="3">
          <p class="m-0">
            <a class="hover:underline" href="https://tailwindcss.com/">TailwindCSS</a>
          </p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </main>
</div>
